name: "fileExplorers"
services:
  fe-mysql:
    container_name: fe-mysql
    image: percona:8.0.27-18-centos
    platform: linux/amd64
    ports:
      - "20000:3306"
    volumes:
      - "./file-explorers-db:/docker-entrypoint-initdb.d/"
    environment:
      - TZ=CET
      - MYSQL_DATABASE=file_explorers
      - MYSQL_USER=nejc
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=rootTestPasswd
    command: --default-authentication-plugin=mysql_native_password --range_optimizer_max_mem_size=0 --innodb_flush_log_at_trx_commit=0 --innodb_log_file_size=1G --innodb_log_buffer_size=128M --innodb_buffer_pool_size=1G --skip_log_bin=1 --open-files-limit=355350 --innodb-flush-method=O_DIRECT --skip-name-resolve --key_buffer_size=64M --max_allowed_packet=64M --table_open_cache=4000 --max_binlog_size=100M
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-prootTestPasswd"]
      timeout: 2s
      retries: 20
    networks:
      fileExplorers:
        ipv4_address: 172.21.0.10

  fe-backend:
    container_name: fe-backend
    build: ./file-explorers-be
    ports:
      - '8080:8080'
    depends_on:
      fe-mysql:
        condition: service_healthy
    networks:
      fileExplorers:
        ipv4_address: 172.21.0.11

networks:
  fileExplorers:
    external: true
    ipam:
      config:
        - subnet: 172.21.0.0/16